<!DOCTYPE html>
<html>
	<head th:fragment="head">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="author" content="Paweł Kaliniak &amp; Michał Chyrowicz"/>
		<meta name = "keywords" content = "Wstaw się - modlitwa w duszpasterstwie Dominik!"/>
		<meta name = "description" content = "Wstaw się - wspólnie módlmy się za siebie nawzajem w Dominiku"/>
		<link rel="stylesheet" href="style.css" type="text/css"/>
		
		<title>Wstaw się!</title>
	
	</head>
	  <body>
		
			<h4 th:fragment="info_password_changed_successfully" center = "true" class="notification">Pomyślnie dokonano zmiany hasła</h4>
			<h4 th:fragment="info_password_reseted_successfully" center = "true" class="notification">Pomyślnie dokonano zmiany hasła dla uzytkowników</h4>
			<h4 th:fragment="info_password_reseted_failed" center = "true" class="warning">Nie udało zresetować się hasła dla uzytkowników:</h4>
			<h4 th:fragment="info_photo_changed_successfully" center = "true" class="notification">Pomyślnie dokonano zmiany zdjęcia</h4>
			<h4 th:fragment="info_login_o_auth_no_account" center = "true" class="notification">Dla Twojego konta Google/Facebook nie istnieje konto "Wstaw się!"</h4>
	  </body>
</html>
