<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/general :: head">...
</head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body>
	<div id="container">
		<header th:include="fragments/general :: header" id="header">...</header>
		<div class="underlinemenu" th:include="fragments/general :: menu_signed">...</div>
		<article id="content">
				<div th:if="${passwordChangedForm != null and #maps.size(passwordChangedForm.result.positiveResetedPassword) > 0}" >
				<h4 class="notification" th:include="fragments/messages :: info_password_reseted_successfully" />
				<table class="info">
				<tbody>
					<tr>
						<th>Id&nbsp;</th>
						<th>Imię&nbsp;</th>
						<th>Nazwisko&nbsp;</th>
						<th>E-mail&nbsp;</th>
						<th>Nowe hasło&nbsp;</th>
					</tr>
					<tr th:each="person : ${passwordChangedForm.result.positiveResetedPassword}">
						<td th:text="${person.key.id}">&nbsp;Przykladowe_ID&nbsp;</td>
						<td th:text="${person.key.firstName}">&nbsp;Przykladowe_Imie&nbsp;</td>
						<td th:text="${person.key.lastName}">&nbsp;Przykladowe_nazwisko&nbsp;</td>
						<td th:text="${person.key.email}">&nbsp;przykladowy_email@o2.pl&nbsp;</td>
						<td th:text="${person.value}">&nbsp;przykladowy_haslo&nbsp;</td>
					</tr>
				</tbody>
			</table>				
				</div>
				<div th:if="${passwordChangedForm != null and #lists.size(passwordChangedForm.result.negativeResetedPassword) > 0}">
				<h4 class="warning" th:include="fragments/messages :: info_password_reseted_failed" />
				<table class="info">
				<tbody>
					<tr>
						<th>Id&nbsp;</th>
						<th>Imię&nbsp;</th>
						<th>Nazwisko&nbsp;</th>
						<th>E-mail&nbsp;</th>
					</tr>
					<tr th:each="person : ${passwordChangedForm.result.negativeResetedPassword}">
						<td th:text="${person.id}">&nbsp;Przykladowe_ID&nbsp;</td>
						<td th:text="${person.firstName}">&nbsp;Przykladowe_Imie&nbsp;</td>
						<td th:text="${person.lastName}">&nbsp;Przykladowe_nazwisko&nbsp;</td>
						<td th:text="${person.email}">&nbsp;przykladowy_email@o2.pl&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</div>
				<br/>
				<a th:href="${@sessionBean.getPath('admin')}">Powrót</a>				
		</article>
		<div th:include="fragments/general :: footer">...</div>
	</div>
</body>
</html>